/* Adiciona estilos à tabela */

.cards {
  height: 500px;
  border-radius: 15px !important;
  background-size: cover;
  background-position: center;
}


.cards:hover {
  background-image: url('../assets/background_image.jpg');
}


.table-container {
  max-height: 400px; /* Ajuste conforme necessário */
  overflow-y: auto;
}

.card-container {
  max-height: 400px; /* Ajuste conforme necessário */
  overflow-y: auto;
}

.cards {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}
table {
  width: 100%;
  border-collapse: collapse;
}

/* Estiliza as células da tabela */
td, th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Estilo padrão para linhas da tabela */
tr {
  transition: background-color 0.3s ease;
}

/* Efeito hover para linhas da tabela */
tr:hover {
  background-color: rgb(24, 35, 182);
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white; /* Muda a cor do texto para branco */
  cursor: pointer;
}