.popup-content {
  display: flex;
  align-items: center;
  padding: 7px;
}



.popup-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Alinha o texto à esquerda, ajustável para à direita */
}


.status {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.status .status-indicator {
  width: 5px;
  height: 5px;
  border-radius: 5%;
  margin-right: 5px;
}

.status-active {
  background-color: green;
}

.status-inactive {
  background-color: red;
}